.logo{
	width: 20%;
	height: auto;
}

.banner{

background-size:cover;
background-image: url(../img/london22.jpg);
background-repeat: no-repeat;
max-width: 100%;
background-position:center;
height: 100vh;
}


.btn-1{

	background-color: transparent;
	font-color: white;
	border:white solid 2px;
	margin-top: 40%;
	
}

.btn-2:{
	background-color: transparent;
	margin-top: 40%;
	
}
.botones:hover{
	background-color: purple;
	color:black;
}